auto
desktop_cleaner
files
*/__pycache__
trimmed_files
__init__.py
check.py
drive_android.py
file.txt
geckodriver
*.HEIC
*.JPG
*.jpg
*.png
*.log
log
log.py
nohup.out
notes.txt
*.mp4
*.webm
googleapp.py
*/_youtube*.py
.vscode
*/.vscode